.DS_Store
test/benchmark/*.bench
test/benchmark/*.md
test/benchmark/*.json
*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz
**/.ipynb_checkpoints
docs/build/
docs/site/
/Manifest.toml

paper/scipost_reponse.md
**/*.h5
paper/preprintv2/diff.tex
